.col-p{
    display: flex;
    justify-content: center;
   background-color: black;
    
}

.col-p4{
    background-color: rgb(7, 7, 24);
    width: 450px;

}
.col0{
    border-bottom: 2px solid red;
    border-radius: 25px;
    background-color: rgb(18, 36, 91);
    padding-bottom: 50px;

}

.the-image1{
    img{
    display: flex;
    justify-content: center;
    width: 450px;
    height: 450px;}

}

.link-name2{
    color: orange;
    justify-self: center;

}
p2{
    color: red;
    left: auto;
    position: absolute;
}

.price{
    margin-left: 200px;
    margin-bottom: 14px;
}

.done{
    margin-left: 300px;

}

.don{
    margin-left: 300px;
   

}